.cusine-top-border {
  width: 100%;
  height: 10px;
  background-color: var(--primary-sage-green);
}

/* Header */
.cusine-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 1px 3px 4px var(--neutral-soft-grey);
  position: sticky;
  top: 0;
  z-index: 1;
}

.cusine-header .logo {
  max-width: 90px;
  width: 100%;
  border-radius: 50%;
}

.cusine-header h1 {
  font-family: var(--font-heading);
  font-size: var(--text-4xl);
  font-weight: var(--font-extrabold);
  color: var(--secondary-warm-terracotta);
  letter-spacing: var(--tracking-tight);
}

.cusine-header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.cusine-header nav ul li {
  display: inline-block;
  list-style: none;
}

.cusine-header nav ul li a {
  list-style: none;
  font-family: var(--font-body);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  text-decoration: none;
  padding: 0.3rem;
  color: var(--secondary-warm-terracotta);
  position: relative;
}

.cusine-header nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-sage-green);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

.cusine-header nav ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Hero Section */
.cuisine-hero-section {
  width: 100%;
  height: calc(90vh - 100px);
  min-height: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
  gap: 20px;
}

.cuisine-hero-section h2 {
  font-family: var(--font-heading);
  font-size: var(--text-5xl);
  letter-spacing: var(--tracking-tight);
  color: var(--secondary-warm-terracotta);
  font-weight: var(--font-bold);
  margin-left: 1rem;
}

.cuisine-hero-section img {
  width: 40%;
}

.menu-container {
  width: 100%;
}

.menu-container h2{
  font-family: var(--font-heading);
  font-size: var(--text-6xl);
  font-weight: var(--font-bold);
  color: var(--primary-sage-green);
  letter-spacing: var(--tracking-tight);
  text-align: center;
  margin-bottom: 5rem;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr 100px;
  gap: 20px;
  position: relative;
}

.sidebar-cuisine{
  grid-column: 1/2;
  display: block;
  width: 100%;
  height: 100%;
}

.cuisine-btn {
  width: 40%;
  justify-self: center;
  align-items: flex-start;
  background-color: var(--neutral-cream);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px var(--neutral-soft-grey);
}

.line-icon {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  justify-content: center;
  font-size: var(--text-5xl);
  color: var(--neutral-soft-grey);
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

.line-icon:hover {
  transform: scale(0.9);
}

.cuisine-search {
  grid-column: 3/4;
}

.sidebar-menu {
  grid-column: 1/2;
  display: block;
  width: 0;
  height: 100%;
  background-color: var(--neutral-cream);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 1px 3px var(--neutral-soft-grey);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.sidebar-menu .close-icon {
  display: block;
  margin: 1rem 0;
  font-size: var(--text-3xl);
  font-weight: var(--font-extraboldbold);
  color: var(--primary-sage-green);
  position: relative;
  left: 155px;
  bottom: 5px;
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

.close-icon:hover {
  transform: scale(1.2);
}

.sidebar-menu img {
  max-width: 120px;
  width: 100%;
  border-radius: 20px;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

#dropdown-btn {
  font-size: var(--text-2xl);
  font-weight: var(--font-medium);
  font-family: var(--font-heading);
  color: var(--secondary-warm-terracotta);
  margin-left: 1rem;
}

.dropdown-arrow {
  font-size: var(--text-base);
  float: right;
  margin-top: 0.4rem;
  margin-right: 1.5rem;
  color: var(--neutral-soft-grey);
  transition: transform .2s ease-in-out; /* Need to update this for animation */
}

/* Update this on Js to have animation */
/* .dropdown-arrow:hover {
  transform: rotateX('20deg');
} */

#dropdown-menu {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-bottom: 0.8rem;
}

#dropdown-menu a {
  text-decoration: none;
  padding: 0.5rem;
  font-size: var(--text-base);
  font-family: var(--font-body);
  font-weight: var(--font-semibold);
  color: var(--primary-sage-green);
  transition: transform .2s ease-in-out;
}

#dropdown-menu a:hover {
  transform: scale(1.1);
}

.time {
  font-size: var(--text-2xl);
  font-weight: var(--font-medium);
  font-family: var(--font-heading);
  color: var(--secondary-warm-terracotta);
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.time-container {
  margin-left: 2rem;
}

.time-slider {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border: 2px solid var(--neutral-soft-grey);
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.time-slider:hover {
  opacity: 1;
}

.time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-sage-green);
  cursor: pointer;
}

.menu-cuisine {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
}

/* Update this once on responsive project. So it will have auto rows of the container */
.menu-cuisine .cuisine-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  row-gap: 20px;
  column-gap: 10px;
}

.cuisine-container .food-container {
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px -3px  var(--neutral-soft-grey);
  padding: 0.8rem 0;
}

.food-container .food-border {
  width: 90%;
  display: block;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid var(--neutral-soft-grey);
  border-radius: 15px;
}

.food-border img {
  display: block;
  max-width: 180px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 3px 2px var(--neutral-soft-grey);
  margin: 0 auto;
  margin-bottom: 1rem;
  object-fit: cover;
}

.food-border h2 {
  font-family: var(--font-heading);
  font-weight: var(--font-semibold);
  font-size: var(--text-3xl);
  letter-spacing: var(--tracking-tight);
  color: var(--neutral-soft-grey);
  text-align: center;
  margin-bottom: 1rem;
}

.food-border .star {
  font-size: var(--text-xl);
  text-align: center;
  margin-bottom: 1rem;
}

.star .yellow {
  color: var(--star);
}

.food-border p {
  font-family: var(--font-body);
  font-weight: var(--font-medium);
  font-size: var(--text-xl);
  letter-spacing: var(--tracking-tight);
  color: var(--neutral-soft-grey);
  text-align: center;
  margin-bottom: 1rem;
}

.save-btn {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  font-family: var(--font-body);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  letter-spacing: var(--tracking-tight);
  color: var(--neutral-soft-grey);
  border: none;
  background-color: var(--neutral-cream);
  border: 1px solid var(--secondary-warm-terracotta);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 3px -1px var(--neutral-soft-grey);
  transition: transform .2s ease-in-out;
}

.save-btn:hover {
  transform: scale(1.1);
  background-color: var(--secondary-warm-terracotta);
  box-shadow: 1px 3px 3px -1px var(--neutral-soft-grey);
}