:root {
  
  /* ===== FONT FAMILIES ===== */
  --font-heading: "Roboto", sans-serif;
  --font-body: "Poppins", sans-serif;
  
  /* ===== FONT SIZES (rem) ===== */
  --text-xs: 0.75rem; /* 0.75rem (12px) */
  --text-sm: 0.875; /* 0.875rem (14px) */ 
  --text-base: 1rem; /* 1rem (16px) */
  --text-lg: 1.125rem; /* 1.125rem (18px) */ 
  --text-xl: 1.25rem; /* 1.25rem (20px) */ 
  --text-2xl: 1.5rem; /* 1.5rem (24px) */ 
  --text-3xl: 1.875rem; /* 1.875rem (30px) */ 
  --text-4xl: 2.25rem; /* 2.25rem (36px) */ 
  --text-5xl: 3rem; /* 3rem (48px) */ 
  --text-6xl: 3.75rem; /* 3.75rem (60px) */ 
  --text-7xl: 4.5rem; /* 4.5rem (72px) */ 
  --text-8xl: 6rem; /* 6rem (96px) */ 
  --text-9xl: 8rem; /* 8rem (128px) */

  /* ===== FONT WEIGHTS ===== */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  /* ===== LINE HEIGHTS ===== */
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base--line-height: calc(1.5 / 1);
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl--line-height: 1;
  --text-6xl--line-height: 1;
  --text-7xl--line-height: 1;
  --text-8xl--line-height: 1;
  --text-9xl--line-height: 1;
  
  /* ===== LETTER SPACING ===== */
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0em;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;

  /* ===== Color ===== */
  --primary-sage-green: #88B04B;
  --secondary-warm-terracotta: #E07A5F;
  --neutral-soft-grey: #3D405B;
  --neutral-cream:  #f9fafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}