:root {
  
  /* ===== FONT FAMILIES ===== */
  --font-heading: "Roboto", sans-serif;
  --font-body: "Poppins", sans-serif;
  
  /* ===== FONT SIZES (rem) ===== */
  --text-xs: 0.75rem; /* 0.75rem (12px) */
  --text-sm: 0.875; /* 0.875rem (14px) */ 
  --text-base: 1rem; /* 1rem (16px) */
  --text-lg: 1.125rem; /* 1.125rem (18px) */ 
  --text-xl: 1.25rem; /* 1.25rem (20px) */ 
  --text-2xl: 1.5rem; /* 1.5rem (24px) */ 
  --text-3xl: 1.875rem; /* 1.875rem (30px) */ 
  --text-4xl: 2.25rem; /* 2.25rem (36px) */ 
  --text-5xl: 3rem; /* 3rem (48px) */ 
  --text-6xl: 3.75rem; /* 3.75rem (60px) */ 
  --text-7xl: 4.5rem; /* 4.5rem (72px) */ 
  --text-8xl: 6rem; /* 6rem (96px) */ 
  --text-9xl: 8rem; /* 8rem (128px) */

  /* ===== FONT WEIGHTS ===== */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  /* ===== LINE HEIGHTS ===== */
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base--line-height: calc(1.5 / 1);
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl--line-height: 1;
  --text-6xl--line-height: 1;
  --text-7xl--line-height: 1;
  --text-8xl--line-height: 1;
  --text-9xl--line-height: 1;
  
  /* ===== LETTER SPACING ===== */
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0em;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;

  /* ===== Color ===== */
  --primary-sage-green: #88B04B;
  --secondary-warm-terracotta: #E07A5F;
  --neutral-soft-grey: #3D405B;
  --neutral-cream:  #f9fafb;
  --star: #ffe100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--neutral-cream);
}

/* Components */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.show {
  display: block;
}

.span {
  color: var(--primary-sage-green);
}

/* Header */
.top-border {
  width: 100%;
  height: 10px;
  background-color: var(--neutral-cream);
  box-shadow: 0px 10px 15px 20px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

.header-background-img {
  width: 100%;
  height: calc(90vh - 100px);
  min-height: 400px;
  background-image: url(/images/hero-section-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 1rem;
  margin-bottom: 10rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .logo {
  max-width: 90px;
  width: 100%;
  border-radius: 50%;
}

.header h1 {
  font-family: var(--font-heading);
  font-size: var(--text-4xl);
  font-weight: var(--font-extrabold);
  color: var(--secondary-warm-terracotta);
  letter-spacing: var(--tracking-tight);
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav ul li {
  display: inline-block;
  list-style: none;
}

.header nav ul li a {
  list-style: none;
  font-family: var(--font-body);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  text-decoration: none;
  padding: 0.3rem;
  color: var(--secondary-warm-terracotta);
  position: relative;
}

.header nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-sage-green);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

.header nav ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hero-section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-section h2 {
  font-family: var(--font-heading);
  font-size: var(--text-7xl);
  letter-spacing: var(--tracking-tight);
  color: var(--secondary-warm-terracotta);
  font-weight: var(--font-extrabold);
  margin-bottom: 2rem;
  text-shadow: 3px 3px 4px var(--neutral-soft-grey);
}

.hero-section .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  position: relative;
  margin-bottom: 12rem;
}

.search .dropdown {
  width: 100%;
  display: flex;
}

.dropdown .input-search {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border-style: none;
  padding: 1.5rem;
  font-family: var(--font-body);
  font-size: var(--text-base);
  letter-spacing: var(--tracking-tight);
  font-weight: var(--font-medium);
  color: var(--neutral-soft-grey);
}

.dropdown .drop-btn {
  width: 5%;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.dropdown-content{
  display: none;
  width: 100%;
  list-style: none;
  position: absolute;
  overflow: auto;
  top: 45px;
  border-top: 1px solid var(--neutral-soft-grey);
  box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.25);
  background-color: var(--neutral-cream);
}

.dropdown-content li {
  padding: 0.9rem 1.5rem;
  font-size: var(--text-base);
  font-family: var(--font-body);
  font-weight: var(--font-medium);
  color: var(--neutral-soft-grey);
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: var(--neutral-soft-grey);
  color: var(--neutral-cream);
}

/* Featured Today */
.featured {
  margin-bottom: 20rem;
}

.featured h2 {
  font-family: var(--font-heading);
  font-size: var(--text-5xl);
  font-weight: var(--font-extrabold);
  color: var(--neutral-soft-grey);
  text-align: center;
  letter-spacing: var(--tracking-tight);
  margin-bottom: 5rem;
}

.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.carousel-container {
  display: block;
  max-width: 800px;
  padding: 1rem 0.5rem;
  border-radius: 20px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--secondary-warm-terracotta);
  transition: transform .2s ease-in-out;
  cursor: pointer;
}

.carousel-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 5px 8px rgba(0, 0, 0, 0.25);
}

.menu {
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
  border: 3px solid var(--neutral-soft-grey);
  border-radius: 15px;
}

.menu .menu-img {
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 7px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
}

.menu h3 {
  font-family: var(--font-heading);
  font-size: var(--text-4xl);
  font-weight: var(--font-extrabold);
  color: var(--neutral-soft-grey);
  text-align: center;
  letter-spacing: var(--tracking-tight);
  margin-bottom: 1.5rem;
}

.menu .info {
  display: flex;
  padding-left: 1rem;
}

.menu .info img {
  max-width: 40px;
  width: 100%;
  margin-bottom: 1.5rem;
}

.menu .info p {
  font-family: var(--font-body);
  font-size: var(--text-2xl);
  font-weight: var(--font-semibold);
  color: var(--neutral-soft-grey);
  letter-spacing: var(--tracking-tight);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

/* FAQ */
.faq-container {
  display: flex;
  align-items: center;
  margin-bottom: 30rem;
  gap: 100px;
}

.faq-container .faq-info {
  margin-left: 1.5rem;
}


.faq-container .faq-info h2 {
  font-family: var(--font-heading);
  font-size: var(--text-3xl);
  font-weight: var(--font-bold);
  color: var(--neutral-soft-grey);
  letter-spacing: var(--tracking-tight);
  margin-bottom: 0.8rem;
}

.faq-container .faq-info p {
  font-family: var(--font-body);
  font-size: var(--text-xl);
  font-weight: var(--font-medium);
  color: var(--neutral-soft-grey);
  letter-spacing: var(--tracking-tighter);
  line-height: var(--text-xl--line-height);
  text-align: justify;
  margin-left: 0.8rem;
}

.faq-container img {
  width: 40%;
}

/* Stats */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: start;
  align-items: center;
  column-gap: 10px;
  row-gap: 50px;
  margin-bottom: 30rem;
}

.grid-container .stat {
  width: 90%;
  padding: 2rem 1rem;
  margin: 0 auto;
  background-color: var(--secondary-warm-terracotta);
  border-radius: 15px;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.25);
}

.stat .icon {
  display: flex;
  gap: 15px;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.icon .ionicons {
  font-size: var(--text-4xl);
  color: var(--neutral-cream);
}

.icon h3 {
  font-family: var(--font-heading);
  font-size: var(--text-2xl);
  font-weight: var(--font-bold);
  color: var(--neutral-soft-grey);
  letter-spacing: var(--tracking-tight);
  margin-top: 0.3rem;
}

.stat p {
  font-family: var(--font-body);
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  color: var(--neutral-soft-grey);
  letter-spacing: var(--tracking-tighter);
  margin-left: 5rem;
}

/* CTA */
.cta-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-items: center;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 30rem;
}

.cta-container img {
  max-width: 800px;
  width: 100%;
}

.cta-container .cta-info {
  display: block;
  margin-left: 1rem;
}

.cta-info h2 {
  font-family: var(--font-heading);
  font-size: var(--text-4xl);
  font-weight: var(--font-extrabold);
  color: var(--neutral-soft-grey);
  letter-spacing: var(--tracking-tight);
  line-height: var(--text-4xl--line-height);
  margin-bottom: 1.5rem;
}

.cta-info ul a{
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.2rem;
  border-radius: 10px;
  font-family: var(--font-body);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  letter-spacing: var(--tracking-tight);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-left: 0.8rem;
}

.browse {
  background-color: var(--secondary-warm-terracotta);
  color: var(--primary-sage-green);
  text-shadow: 2px 1px 2px var(--neutral-soft-grey);
  transition: transform .2s ease-in-out;
}

.browse:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 3px var(--neutral-soft-grey);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.planning {
  background-color: var(--primary-sage-green);
  text-shadow: 2px 1px 2px var(--neutral-soft-grey);
  color: var(--secondary-warm-terracotta);
  transition: transform .2s ease-in-out;
}

.planning:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 3px var(--neutral-soft-grey);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

/* Footer */
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-items: center;
  padding: 1rem 2rem;
}

.footer-section {
  display: flex;
  align-items: center;
}

.footer-section .footer-logo {
  width: 20%;
  border-radius: 50%;
}

.footer-section h2 {
  font-family: var(--font-heading);
  font-size: var(--text-4xl);
  font-weight: var(--font-extrabold);
  color: var(--secondary-warm-terracotta);
  letter-spacing: var(--tracking-tight);
  text-shadow: 3px 3px 4px var(--neutral-soft-grey);
  margin-left: 1rem;
}

.footer-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-cta .newsletter {
  margin-bottom: 2rem;
}

.footer-cta .newsletter h2 {
  font-family: var(--font-heading);
  font-size: var(--text-3xl);
  font-weight: var(--font-extrabold);
  color: var(--secondary-warm-terracotta);
  letter-spacing: var(--tracking-tight);
  margin-bottom: 0.5rem;
}

.footer-cta .newsletter p {
  font-family: var(--font-body);
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  color: var(--secondary-warm-terracotta);
  letter-spacing: var(--tracking-tight);
  margin-left: 1rem;
  margin-bottom: 0.9rem;
}

.footer-cta .newsletter a {
  display: inline-block;
  font-family: var(--font-body);
  font-size: var(--text-xl);
  font-weight: var(--font-semibold);
  color: var(--primary-sage-green);
  background-color: var(--secondary-warm-terracotta);
  letter-spacing: var(--tracking-tight);
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-shadow: 2px 1px 2px var(--neutral-soft-grey);
  border-radius: 10px;
  margin-left: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: transform .2s ease-in-out;
}

.footer-cta .newsletter a:hover {
  transform: scale(1.1);
}

.footer-cta .connect h2 {
  font-family: var(--font-heading);
  font-size: var(--text-3xl);
  font-weight: var(--font-extrabold);
  color: var(--secondary-warm-terracotta);
  letter-spacing: var(--tracking-tight);
  margin-bottom: 0.8rem;
}

.footer-cta .connect nav ul li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 1rem;
  margin-bottom: 0.9rem;
}

.footer-cta .connect nav ul li a {
  text-decoration: none;
  font-family: var(--font-body);
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  color: var(--primary-sage-green);
  letter-spacing: var(--tracking-tight);
}

.footer-cta .connect nav ul li a:hover {
  color: var(--secondary-warm-terracotta);
}